* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(275, 100%, 97%);
  font-family: "Work Sans", sans-serif;
}
#container {
  position: relative;
  display: flex;
  justify-content: center;
}
.background-pattern {
  background-image: url(/assets/images/background-pattern-mobile.svg);
  width: 100%;
  height: 250px;
}
#main-container {
  position: absolute;
  top: 50%;
  text-align: center;
  height: 500px;
  width: 310px;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}
h1 {
  text-align: left;
}
h1 object {
  width: 1.4rem;
  vertical-align: baseline;
  margin-right: 15px;
}
p {
  font-weight: 600;
  text-align: left;
  margin: 20px 50px 0px 0px;
}
hr {
  margin-top: 20px;
  border-color: hsla(0, 0%, 90%, 0.3);
}
button {
  border: none;
  background-color: transparent;
  border-radius: 100%;
  height: 30px;
  cursor: pointer;
  float: right;
  margin-top: -2.5em;
}
.icon-plus {
  content: url(assets/images/icon-plus.svg);
}
label {
  font-weight: 400;
  text-align: left;
  font-size: 13px;
  padding: 5px;
  color: hsl(0, 0%, 50%);
  margin-top: 10px;
}

/* FOR DESKTOP */
/* LEANDRO DO NOT FORGET TO CHANGE MIN-WIDTH TO 375px */
@media only screen and (min-width: 550px) {
  .background-pattern {
    background-image: url(/assets/images/background-pattern-desktop.svg);
  }
  #main-container {
    width: 500px;
  }
}

.footer {
  display: flex;
  justify-content: center;
}
.attribution {
  position: fixed;
  top: 95%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
